<img src='{{flags.svg}}' alt='{{name.official}}' width='400' class='country-info__img' />
<h1>{{name.official}}</h1>
<p>Capital: <span class='country-info__descr'>{{capital}}</span></p>
<p>Population: <span class='country-info__descr'>{{population}}</span></p>
{{#each languages}}
  <p class='country-info__paragraph'>Languages:
    <span class='country-info__descr'>{{this}}</span></p>
{{/each}}